{% load staticfiles %}
<!--<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="height=device-height, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Homepage</title>
<link rel="shortcut icon" href="{%static 'images/favicon.ico' %}">

</head>

<body>

  <img src = "{%static 'images/illustration.jpg' %}""/>

</body>
</html> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="shortcut icon" href="{%static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{%static 'css/custom.css' %}">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/waltograph" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/beon" type="text/css"/>
  </head>
  <body background="{%static 'images/image4.jpg' %}">
    <!-- <img src="{%static 'images/illustration.jpg' %}" alt=""> -->

    <h1>Fetching Invoice Details</h1>
    <div class="content_container">
      <ul class="list_container">
        <li id="anime1">made Simple! </li>
        <li id="anime2">made Fast! </li>
        <li id="anime2">made Brilliant! </li>
      </ul>
    </div>

<div class="container1">
  <a class="button1" href="">&rarr; LogIn</a><br><br>
  <a class="button2" href=" ">&rarr; SignUp</a>
</div>


    </form>

  </body>
</html>
