h1{
  font-size: 100px;
  text-align: center;
  color: white;
  font-family: 'WaltographRegular';
   font-weight: normal;
   font-style: normal;

}

.list_container{
  position: relative;
  margin-top: 0;
  /* padding-left: 270px; */
  text-align: center;
  list-style: none;
  color: white;
  /* text-align: center; */
  font-size: 54px;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  font-family: 'WaltographRegular';
  font-weight: normal;
  font-style: normal;

}

@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -35%, 0);
            transform: translate3d(0, -35%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -35%, 0);
            transform: translate3d(0, -35%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -67%, 0);
            transform: translate3d(0, -67%, 0);
  }

  66.64%,79.3% {
    -webkit-transform: translate3d(0, -33%, 0);
            transform: translate3d(0, -33%, 0);
  }
  83.3%,95.96%40
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.content_container:after, .content_container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.content_container {
  font-weight: 600;
  overflow: hidden;
  height: 60px;
  padding: 0 40px;
}


a:link {
  text-decoration: none;
}

a.button1:hover{
  font-size: 300%;

}

a.button2:hover{
  font-size: 300%;
}
.button1{

  margin-left: 45%;
  font-size: 40px;
  align-items: flex-end;
  color: white;

  font-family: 'BeonRegular';
     font-weight: normal;
     font-style: normal;
   position: relative;


}
.button2{
  margin-left: 45%;
  font-size: 40px;
  align-items: flex-end;
  color: white;
  font-family: 'BeonRegular';
   font-weight: normal;
   font-style: normal;

   position: relative;



}
.container1{

  margin-top: 10%;
}
